// ------------------------

$color-grey: #2c3e50;
$color-violet: #8e44ad;
$color-blue: #3498db;
$color-green: #2ecc71;
$color-yellow: #f1c40f;

// ------------------------

$btn-bg-color: white;
$btn-bg-color-hover: $color-blue;
$btn-radius: 5px;

// ------------------------

@mixin align-center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ------------------------
// Add unit
@function unit($x) {
  @return $x + 0px;
}

// ------------------------

// ------------------------

.pulsating {
  @include align-center;
}
.pulse-button {
  border: 0;
  font-size: 1.4em;
  padding: 1em 2em;  
  background-color: $btn-bg-color;
  border-radius: $btn-radius;  
  transition: all 300ms ease-in 200ms;
  
  &:hover {
    cursor: pointer;
    background-color: $btn-bg-color-hover;
    color: white;    
    transition: all 200ms ease-out 0s;
  } 
}

// Pulse animation  
// ------------------------

.animate-pulse {
  $color-bg: $btn-bg-color;
  $color-bg-hover: $btn-bg-color-hover;
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1.3);
      opacity: 0;
    }
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;   
    background-color: $color-bg;
    border-radius: $btn-radius;
    
    // animation
    animation-name: pulse;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  &:hover:after {
    background-color: $color-bg-hover; 
    transition: all 200ms ease-out 0s;
  }
}
