/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
$blue: #6C8EA4;
$orange: #ED8B32;

@font-face {
  font-family: 'Southpark';
  src: url('../../dist/fonts/south-park.ttf')  format('truetype'),
}

@font-face {
  font-family: 'KalraBold';
  src: url('../../dist/fonts/KarlaBold.ttf')  format('truetype'),
}

@font-face {
  font-family: 'KalraRegular';
  src: url('../../dist/fonts/KarlaRegular.ttf')  format('truetype'),
}

@import 'reset';
@import "clouds";
@import "loading";
@import "page2";


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/background.png);
	overflow: hidden;
}

.loading-screen {

	.title {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 600px) {
			flex-direction: row;
		}
	}

	.cheese-logo {
		background-image: url(../img/Mobile/Mobile_Pieces/CheeseWheel_BlueShadow.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		top: 18.19548872%;
		left: 11.46666667%;
		width: 39.73333333%;
		height: 19.54887218%;

		@media screen and (min-width: 600px) {
			// width: 11.71303075%;
			// height: 21.484375%;
			// transform: rotate(40deg);
			// top: 27.99479167%;
			// left: 20.86383602%;

			width: 16.713031%;
		    height: 24.484375%;
		    transform: rotate(40deg);
		    top: 24.994792%;
		    left: 15.863836%;
		}
	}

	.word-logo {
		background-image: url(../img/Desktop/MiscPieces/matcharella_large.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		z-index: 5;
		top: 18.87218045%;
		left: 21.33333333%;
		width: 66.66666667%;
		height: 33.83458647%;
		transform: rotate(-15deg);

		@media screen and (min-width: 600px) {
			width: 20.86383602%;
			height: 33.203125%;
			top: 29.94791667%;
			left: 23.42606149%;
		}
	}

	.from {
		position: absolute;
		font-family: 'Southpark';
		//font-size: 2.25rem;
		font-size: 1.25rem;
		color: $blue;
		text-align: center;
		top: 54.60902256%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media screen and (min-width: 600px) {
			top: 45%;
			font-size: 1.85rem;
		}
	}

	.company-logo {
		background-image: url(../img/Mobile/Mobile_Pieces/Blue_Logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		top: 57.7443609%;
		left: 37.86666667%;
		width: 26%;
		height: 14.66165414%;

		@media screen and (min-width: 600px) {
			width: 13.90922401%;
			height: 24.73958333%;
			top: 32.55208333%;
			left: 56.00292826%;
		}
	}
}






















